
<div class="all-projects">    
    <div class="projects-container">
        <div class="card-deck">        
            <div class="card my-3 custom-projects-Card">
                <img src="../../../../../../assets/images/projects/website/website_home.png" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Website</h4>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <button type="button" class="btn btn-outline-primary" [routerLink]="['../website']">See more</button>
                </div>
            </div>
            <div class="card my-3 custom-projects-Card">
                <img src="../../../../../../assets/images/projects/zeusentertainment/zeus1.png" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">ZeusEntertainment</h4>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <button type="button" class="btn btn-outline-primary" [routerLink]="['../zeusentertainment']">See more</button>
                </div>
            </div>
            <div class="card my-3 custom-projects-Card">                
                <img src="../../../../../../assets/images/projects/phase7/phase7.png" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title"><img src="../../../../../../assets/images/projects/phase7/phase7_icon.ico" style="width: 25px; vertical-align: bottom; margin-right: 5px;">Phase7</h4>
                    <p class="card-text">Phase7 is my reproduction of the learn-software Phase6. I did it just for fun and as a personal project.<br><i>Currently the Source Code is not available on my GitHub, maybe it will be soon.</i></p>
                    <button type="button" class="btn btn-outline-primary" [routerLink]="['../phase7']">See more</button>
                </div>
            </div>
            <div class="card my-3 custom-projects-Card">
                <img src="../../../../../../assets/images/projects/interships/allInterships.png" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Interships</h4>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <button type="button" class="btn btn-outline-primary" [routerLink]="['../interships']">See more</button>
                </div>
            </div>
            <div class="card my-3 custom-projects-Card">
                <img src="../../../../../../assets/images/projects/unity/unity_room.png" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Unity</h4>
                    <p class="card-text">This is my first attempt of working with Unity. It's my room as a 3D-Modell, with a few extras (No, I don't own Genji's sword).<br><span style="font-size: 15px;"><i>Currently the Source Code is not available on my GitHub, but I am going to upload it soon.</i></span></p>
                    <button type="button" class="btn btn-outline-primary" [routerLink]="['../unity']">See more</button>
                </div>
            </div>
        </div>
    </div>       
</div>