/* You can add global styles to this file, and also import other style files */

/*
/
/ Login-Module Start
/
*/

.loginmodal-container {
	padding: 30px;
	max-width: 350px;
	width: 100% !important;
	background-color: #F7F7F7;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	font-family: roboto;
}

/*
/
/ Login-Module End
/
/----------------------------
/
/ Footer-Module Start
/
*/

.footer {
	background-color: rgb(39, 52, 58);
	color: #c6c6c6 !important;	
}

/*
/
/ Footer-Module End
/
/----------------------------
/
/ Impressum-Module Start
/
*/

.impressum {
    text-align: left;
    width: 95%;
    padding: 10px;
    margin: 0 auto;
    font-size: 15px;
    border-style: solid;
}

/*
/
/ Impressum-Module End
/
/----------------------------
/
/ Header-Module Start
/
*/

.header{
    background-color: rgb(111, 137, 150);
    width: 100%;
    font-size: 20px;
}

.header-input{
    width: 75%;
    margin-right: 2%;
}

.header-submit{
    width: 23%;
    padding-left: 5px;
    padding-right: 5px;
}

/*
/
/ Header-Module End
/
/----------------------------
/
/ Content-Module Start
/
*/

.content{
    width: 100%;
    padding: 15px;
    background-color: rgb(215, 224, 233);
}

/*
/
/ Content-Module End
/
/----------------------------
/
/ Media-Module Start
/
*/

@media (max-width: 324px) {
	
}

@media (max-width: 350px) and (min-width: 325px) {
	
}

@media (max-width: 370px) and (min-width: 351px) {
	
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.header-input{
        width: 100%;
    }

    .header-submit{
        width: auto;
    }

    .impressum {
        width: 75%;
        font-size: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {	
    .header-input{
        width: 100%;
    }

    .header-submit{
        width: auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}

@media (min-width: 1500px) {
	
}

/* Extra extra large devices (extra large desktops, 1800px and up) */
@media (min-width: 1800px) {
	
}