/*
/
/ All-Module Start
/
*/

html, body{
    min-height: 87vh;
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/538518505572662898/78B0558FDAB4E7AAEDD4A70BF802F8B3EF1CE7E7/');
    background-repeat: no-repeat;
}

/* Bootstrap grid */
.row{
    margin: 0 !important;
}

/*
/
/ All-Module End
/
/----------------------------
/
/ Login-Module Start
/
*/

.login-page{
    display: inline-block;
    width: 100%;
    height: 80vh;    
}

.login-container{
    margin: 0 auto;
    vertical-align: middle;
}

/*
/
/ Login-Module End
/
/----------------------------
/
/ Header-Module Start
/
*/

.header{
    width: 100%;
    font-size: 20px;
    background-color: #010005;   
    min-height: 6.5vh;
}

.header a{
    color: rgb(189, 189, 189) !important;
}

.toolbar-ul{
    margin-left: auto !important;
}

.toolbar-li{
    margin: 0 15px 0 15px;
}

/*
/
/ Header-Module End
/
/----------------------------
/
/ Footer-Module Start
/
*/

.footer {
	background-color: rgb(39, 52, 58);
    color: #c6c6c6 !important;	
    min-height: 6.5vh;
}

/*
/
/ Footer-Module End
/
/----------------------------
/
/ Content-Module Start
/
*/

.content{
    width: 100%;    
}

/*
/
/ Content-Module End
/
/----------------------------
/
/ Home-Module Start
/
*/

.top-home-header{
    width: 100%;
    height: 93.5vh;
    background-image: url('./img/test2.jpg');
    background-repeat: no-repeat;      
}

.profile_name_div-home{
    text-align: center;
    width: 167px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.profile_name_div-home h1{    
    color: #E2E07B;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Work Sans',sans-serif;
    margin: 0;
}

.header-home-bottom{
    font-size: 18px;
    font-weight: 300;
    color: white;
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Rajdhani', sans-serif;    
}

.for-animated-cursor{
    padding-right: 4px;
    border-right: 2px solid white;
    animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

/* Home-Product-Images */
.home-zeusentertainment{
    background-color: green;    
}

.home-phase7{
    background-color: red;
}

.home-unity_room{
    background-image: url('./img/projects/start-page/unity_room.png');
    background-repeat: no-repeat;
    background-color: blue;
    height: 350px;    
}

.home-interships{
    background-color: darkgoldenrod;
}

/*
/
/ Home-Module End
/
/----------------------------
/
/ Login-Module Start
/
*/

.loginmodal-container {
	padding: 30px;
	max-width: 350px;
	width: 100% !important;
	background-color: #F7F7F7;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	font-family: roboto;
}

/*
/
/ Login-Module End
/
/----------------------------
/
/ Impressum-Module Start
/
*/

.impressum {
    text-align: left;
    width: 95%;
    padding: 10px;
    margin: 25px auto 25px auto;
    font-size: 15px;
    border-style: solid;
}

/*
/
/ Impressum-Module End
/
/----------------------------
/
/ Media-Module Start
/
*/

@media (max-width: 324px) {
	
}

@media (max-width: 350px) and (min-width: 325px) {
	
}

@media (max-width: 370px) and (min-width: 351px) {
	
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {	
    /*
    /
    / Impressum-Module Start
    /    
    */

    .impressum {
        width: 75%;
        font-size: 20px;
    }

    /*
    /
    / Impressum-Module End
    /    
    */
    }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {	
    /*
    /
    / Header-Module Start
    /
    */

    .header{
        font-size: 22px;
    }

    /*
    /
    / Header-Module Start
    /
    /----------------------------
    /
    / Home-Module Start
    /
    */

    .top-home-header{
        background-size: 100%;  
    }    

    /*
    /
    / Home-Module Start
    /
    */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /*
    /
    / Home-Module Start
    /
    */

    .profile_name_div-home{    
        width: 180px;
    }

    .profile_name_div-home h1{    
        font-size: 26px;
    }
    
    .header-home-bottom{
        font-size: 20px;        
    }

    /*
    /
    / Home-Module End
    /
    */
}

@media (min-width: 1500px) {
    /*
    /
    / Header-Module Start
    /
    */

    .header{
        font-size: 24px;
    }

    /*
    /
    / Header-Module Start
    /
    */
}

/* Extra extra large devices (extra large desktops, 1800px and up) */
@media (min-width: 1800px) {
    /*
    /
    / Header-Module Start
    /
    */

    .header{
        font-size: 26px;
    }

    /*
    /
    / Header-Module Start
    /
    /----------------------------
    /
    / Home-Module Start
    /
    */

    .profile_name_div-home{    
        width: 208px;
    }

    .profile_name_div-home h1{    
        font-size: 30px;
    }
    
    .header-home-bottom{
        font-size: 22px;        
    }

    /*
    /
    / Home-Module End
    /
    */
}