/*
/
/ All-Module Start
/
*/

html, body{
    min-height: 87vh;
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/538518505572662898/78B0558FDAB4E7AAEDD4A70BF802F8B3EF1CE7E7/');
    background-repeat: no-repeat;
}

/* Bootstrap grid */
.row{
    margin: 0 !important;
}

/* PhotoSwipe */
.gallery_website {
    margin: 0 auto;
    width: 90%;    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;     
}

.gallery_website img {
    width: 100%;
    height: auto;
}

.gallery_website figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    max-width: 100%;
}

.gallery_website figcaption {
    display: none;
}

/*
/
/ All-Module End
/
/----------------------------
/
/ Login-Module Start
/
*/

.login-page{
    display: inline-block;
    width: 100%;
    height: 80vh;    
}

.login-container{
    margin: 0 auto;
    vertical-align: middle;
}

/*
/
/ Login-Module End
/
/----------------------------
/
/ Header-Module Start
/
*/

.header{
    width: 100%;
    font-size: 20px;
    background-color: #242424;    
    min-height: 6.5vh;
}

.header a{
    color: rgb(189, 189, 189) !important;
}

.toolbar-ul{
    margin-left: auto !important;
}

.toolbar-li{
    margin: 0 15px 0 15px;
}

.top-home-header_middle_text{
    width: 100%;
    height: 100%; 
    text-align: center;   
}

.top-home-header_middle_text h1, h3{
    margin: 0 auto;
    width: 90vw;    
    vertical-align: middle;    
}

.top-home-header_middle_text h1{
    font-size: 2.3rem;
}

.top-home-header_middle_text h3{
    margin-top: 10px;
    font-size: 1.25rem;
}

/*
/
/ Header-Module End
/
/----------------------------
/
/ Footer-Module Start
/
*/

.footer {
    background-color: rgb(39, 52, 58);    
    color: #c6c6c6 !important;	
    min-height: 6.5vh;
}

/*
/
/ Footer-Module End
/
/----------------------------
/
/ Content-Module Start
/
*/

.content{
    width: 100%;    
}

/*
/
/ Content-Module End
/
/----------------------------
/
/ Home-Module Start
/
*/

.top-home-header{
    width: 100%;
    height: 93.5vh;
    background-image: url('./assets/images/home-top3.png');
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  
    background-size: cover;
}

.profile_name_div-home{
    text-align: center;
    width: 167px;
    position: absolute;
    right: 15px;
    top: 5px;
}

.profile_name_div-home h1{    
    color: #E2E07B;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Work Sans',sans-serif;
    margin: 0;
}

.header-home-bottom{
    font-size: 18px;
    font-weight: 300;
    color: white;
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Rajdhani', sans-serif;    
}

.for-animated-cursor{
    padding-right: 4px;
    border-right: 2px solid white;
    animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

/* Home-Product-Images */
.home-zeusentertainment{    
    min-height: 350px;   
    background-image: url('./assets/images/projects/zeusentertainment/zeus0_code.png');
    background-repeat: no-repeat;   
    background-size: 100% auto;
    color: white;    
}

.home-zeusentertainment-container{
    background-color: rgba(0, 0, 0, 0.527);  
    padding: 5px;
    margin-top: 15px;
}

.home-zeusentertainment h1{
    font-size: 39px;
}

.home-phase7{
    background-image: url('./assets/images/projects/phase7/phase7.png');
    background-repeat: no-repeat;
    background-size: 640px;
    background-color: rgb(90, 90, 121);
    min-height: 350px; 
}

.home-phase7-container{
    margin: 0;
    padding: 0;
    max-width: none;
    background-color: rgba(0, 0, 0, 0.493);
    margin-top: 15px;
    padding: 5px;
    color: white;
}

.home-phase7 h1{
    font-size: 39px;
}

.home-unity_room{
    background-image: url('./assets/images/projects/unity/unity_room.png');
    background-repeat: no-repeat;
    background-color: rgb(170, 170, 170);
    min-height: 350px;    
    color: white;
}

.home-unity_room p{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.377);    
}

.home-unity_room h1{
    font-size: 39px;
}

.seemore_btn-home{
    color: white;
    border-color: white;
    margin: 15px;
}

/*
/
/ Home-Module End
/
/----------------------------
/
/ Projects-Module Start
/
*/

.all-projects{
    width: 100%;
    min-height: 87vh;
    background-color: #242424;
    background-image: url("./assets/images/all_projects_back1.png");
    background-repeat: no-repeat;    
    padding: 15px 0 20px 0;
    background-size: 100% auto;
}

.projects-container{
    padding: 0 10px 0 10px;
}

.custom-projects-Card{
    min-width: 250px;
    border: none;
}

/* Unity-Project */

.project-unity-container{
    width: 100%;
    min-height: 87vh;
    background-color: white;
}

.unity-project-header{
    background-image: url('./assets/images/projects/unity/header_unity.png');
    background-repeat: no-repeat;
    background-size: 100%;    
    width: 100%;
    text-align: center;   
}

.unity-project-header table{
    height: 13vh;
}

.unity-project-header-top{
    vertical-align: middle;    
    color: Black;
    font-size: 60px;    
}

.unity-project-content{
    width: 100%;
    min-height: 37vh;
    padding-top: 20px;
}

.unity-project-content h1{
    width: 100%;
    text-align: center;
}

/* ZeusEntertainment-Project */

.project-zeusentertainment-container{
    width: 100%;
    min-height: 87vh;
    background-color: white;
}

.zeusentertainment-project-header{
    background-image: url('./assets/images/projects/zeusentertainment/header_zeusentertainment.png');
    background-repeat: no-repeat;
    background-size: 100%;    
    width: 100%;
    text-align: center;   
}

.zeusentertainment-project-header table{
    height: 13vh;
}

.zeusentertainment-project-header-top{
    vertical-align: middle;    
    color: Black;
    font-size: 60px;    
}

.zeusentertainment-project-content{
    width: 100%;
    min-height: 37vh;
    padding-top: 20px;
}

.zeusentertainment-project-content h1{
    width: 100%;
    text-align: center;
}

/* Website-Project */

.project-website-container{
    width: 100%;
    min-height: 87vh;
    background-color: white;
}

.website-project-header{
    background-image: url('./assets/images/projects/website/header_website.png');
    background-repeat: no-repeat;
    background-size: 100%;    
    width: 100%;
    text-align: center;   
}

.website-project-header table{
    height: 13vh;
}

.website-project-header-top{
    vertical-align: middle;    
    color: Black;
    font-size: 60px;    
}

.website-project-content{
    width: 100%;
    min-height: 37vh;
    padding-top: 20px;
}

.website-project-content h1{
    width: 100%;
    text-align: center;
}

.website-description{
    width: 80%;
    margin: 0 auto;
}

/* Phase7-Project */

.project-phase7-container{
    width: 100%;
    min-height: 87vh;
    background-color: white;
}

.phase7-project-header{
    background-image: url('https://via.placeholder.com/1440x400');
    background-repeat: no-repeat;
    background-size: 100%;    
    width: 100%;
    text-align: center;   
}

.phase7-project-header table{
    height: 13vh;
}

.phase7-project-header-top{
    vertical-align: middle;    
    color: Black;
    font-size: 60px;    
}

.phase7-project-content{
    width: 100%;
    min-height: 37vh;
    padding-top: 20px;
}

.phase7-project-content h1{
    width: 100%;
    text-align: center;
}

/* Interships-Project */

.project-interships-container{
    width: 100%;
    min-height: 87vh;
    background-color: white;
}

.interships-project-header{
    background-image: url('https://via.placeholder.com/1440x400');
    background-repeat: no-repeat;
    background-size: 100%;    
    width: 100%;
    text-align: center;   
}

.interships-project-header table{
    height: 13vh;
}

.interships-project-header-top{
    vertical-align: middle;    
    color: Black;
    font-size: 60px;    
}

.interships-project-content{
    width: 100%;
    min-height: 37vh;
    padding-top: 20px;
}

.interships-project-content h1{
    width: 100%;
    text-align: center;
}

/*
/
/ Projects-Module End
/
/----------------------------
/
/ Login-Module Start
/
*/

.loginmodal-container {
	padding: 30px;
	max-width: 350px;
	width: 100% !important;
	background-color: #F7F7F7;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	font-family: roboto;
}

/*
/
/ Login-Module End
/
/----------------------------
/
/ Impressum-Module Start
/
*/

.impressum {
    text-align: left;
    width: 95%;
    padding: 10px;
    margin: 0 auto 0 auto;
    font-size: 15px;
    border-style: solid;
    background-color: rgb(211, 211, 211);
}

.impressum-container{
    width: 100%;
    background-color: rgb(44, 34, 34);
    padding: 25px 0 25px 0;
}

/*
/
/ Impressum-Module End
/
/----------------------------
/
/ Media-Module Start
/
*/

@media (max-width: 324px) {
	
}

@media (max-width: 350px) and (min-width: 325px) {
	
}

@media (max-width: 370px) and (min-width: 351px) {
	.interships-project-header table{
        height: 14vh;
    }

    .zeusentertainment-project-header table{
        height: 14vh;
    }

    .phase7-project-header table{
        height: 14vh;
    }

    .unity-project-header table{
        height: 14vh;
    }

    .website-project-header table{
        height: 14vh;
    }   
}

/* Small devices (landscape phones, 370px and up) */
@media (min-width: 370px) {	
    .interships-project-header table{
        height: 16vh;
    }

    .zeusentertainment-project-header table{
        height: 16vh;
    }

    .phase7-project-header table{
        height: 16vh;
    }

    .unity-project-header table{
        height: 16vh;
    }

    .website-project-header table{
        height: 16vh;
    } 
}

/* Small devices (landscape phones, 450px and up) */
@media (min-width: 450px) {	
    .interships-project-header table{
        height: 18vh;
    }

    .zeusentertainment-project-header table{
        height: 18vh;
    }

    .phase7-project-header table{
        height: 18vh;
    }

    .unity-project-header table{
        height: 18vh;
    }

    .website-project-header table{
        height: 18vh;
    } 
}

/* Small devices (landscape phones, 500px and up) */
@media (min-width: 500px) {	
    .interships-project-header table{
        height: 20vh;
    }

    .zeusentertainment-project-header table{
        height: 20vh;
    }

    .phase7-project-header table{
        height: 20vh;
    }

    .unity-project-header table{
        height: 20vh;
    }

    .website-project-header table{
        height: 20vh;
    } 
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {	
    /*
    /
    / Home-Module Start
    /    
    */

    .home-zeusentertainment h1{
        font-size: 45px;
    }

    .home-unity_room h1{
        font-size: 45px;
    }

    .home-phase7 h1{
        font-size: 45px;
    }

    /*
    /
    / Home-Module End
    /    
    /----------------------------
    /
    / Impressum-Module Start
    /    
    */

    .impressum {
        width: 75%;
        font-size: 20px;
    }

    /*
    /
    / Impressum-Module End
    /    
    /----------------------------
    /
    / Projects-Module End
    /    
    */

    .projects-container{
        padding: 0 50px 0 50px;
    }

    .interships-project-header table{
        height: 22vh;
    }

    .zeusentertainment-project-header table{
        height: 22vh;
    }

    .phase7-project-header table{
        height: 22vh;
    }

    .unity-project-header table{
        height: 22vh;
    }

    .website-project-header table{
        height: 22vh;
    }    

    /*
    /
    / Projects-Module End
    /    
    */    
}

@media (min-width: 600px){
    .interships-project-header table{
        height: 25vh;
    }

    .zeusentertainment-project-header table{
        height: 25vh;
    }

    .phase7-project-header table{
        height: 25vh;
    }

    .unity-project-header table{
        height: 25vh;
    }

    .website-project-header table{
        height: 25vh;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .home-zeusentertainment{
        text-align: right;   
    }    

    .interships-project-header table{
        height: 30vh;
    }

    .zeusentertainment-project-header table{
        height: 30vh;
    }

    .phase7-project-header table{
        height: 30vh;
    }

    .unity-project-header table{
        height: 30vh;
    }

    .website-project-header table{
        height: 30vh;
    }

    .top-home-header_middle_text h1 div{
        display: none;
    }

    .top-home-header_middle_text h1{
        font-size: 3rem;
    }
    
    .top-home-header_middle_text h3{        
        font-size: 1.75rem;
    }
}

@media (min-width: 900px){
    .interships-project-header table{
        height: 36vh;
    }

    .zeusentertainment-project-header table{
        height: 36vh;
    }

    .phase7-project-header table{
        height: 36vh;
    }

    .unity-project-header table{
        height: 36vh;
    }

    .website-project-header table{
        height: 36vh;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {	
    /*
    /
    / Header-Module Start
    /
    */

    .header{
        font-size: 22px;
        /* height: 6.5vh;
        min-height: initial; */
    }

    /*
    /
    / Header-Module Start
    /
    /----------------------------
    /
    / Home-Module Start
    /
    */

    .home-zeusentertainment h1{
        font-size: 50px;
    }

    .home-unity_room h1{
        font-size: 50px;
    }

    .home-phase7 h1{
        font-size: 50px;
    }
 
    .top-home-header{
        background-size: 100%;  
    }    

    .home-phase7-container{
        float: right;
        width: calc(100% - 640px);
        background-color: unset;
        color: black;
        padding: 0;
    }

    /*
    /
    / Home-Module Start
    /
    /----------------------------
    /
    / Footer-Module Start
    /
    */

    /* .footer{ */
        /* height: 6.5vh;
        min-height: initial; */
        /* background-color: green !important; */
    /* } */

    /*
    /
    / Footer-Module End
    /
    */

    /* PhotoSwipe */
    .gallery_website {
        margin: 0 auto;
        width: 90%;    
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 20px;
        align-items: stretch;     
    }

    .interships-project-header table{
        height: 50vh;
    }

    .zeusentertainment-project-header table{
        height: 50vh;
    }

    .phase7-project-header table{
        height: 50vh;
    }

    .unity-project-header table{
        height: 50vh;
    }

    .website-project-header table{
        height: 50vh;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /*
    /
    / Home-Module Start
    /
    */

    .profile_name_div-home{    
        width: 180px;
    }

    .profile_name_div-home h1{    
        font-size: 26px;
    }
    
    .header-home-bottom{
        font-size: 20px;        
    }    

    /*
    /
    / Home-Module End
    /
    */    
}

@media (min-width: 1500px) {
    /*
    /
    / Header-Module Start
    /
    */

    .header{
        font-size: 24px;
    }

    /*
    /
    / Header-Module Start
    /
    */    
}

/* Extra extra large devices (extra large desktops, 1800px and up) */
@media (min-width: 1800px) {
    /*
    /
    / Header-Module Start
    /
    */

    .header{
        font-size: 26px;
    }

    /*
    /
    / Header-Module Start
    /
    /----------------------------
    /
    / Home-Module Start
    /
    */

    .profile_name_div-home{    
        width: 208px;
    }

    .profile_name_div-home h1{    
        font-size: 30px;
    }
    
    .header-home-bottom{
        font-size: 22px;        
    }
    
    .home-zeusentertainment h1{
        font-size: 55px;
    }

    .home-unity_room h1{
        font-size: 55px;
    }

    .home-phase7 h1{
        font-size: 55px;
    }

    /*
    /
    / Home-Module End
    /
    */   
}