/* Standard Color Palettes */
:root {
  --c1: var(--dark_grey_c1);
  --c2: var(--dark_grey_c2);
  --c3: var(--dark_grey_c3);
  --c4: var(--dark_grey_c4);
  --c5: var(--dark_grey_c5);
}

.navbar-main {
  background-color: var(--c1);
}

.active {
  color: var(--c5) !important;
}

.nav-item a {
  color: var(--c4);
}

.nav-item a:hover {
  color: var(--c5);
}

.homeBelowNames {
  color: var(--c4) !important;
}

.homeMiddleText {
  color: var(--c1);
}

.see-all-project-btn {
  color: var(--c1) !important;
  border-color: var(--v1) !important;
}

.see-all-project-btn:hover {
  background-color: var(--c5) !important;
}

.footer {
  background-color: var(--c1) !important;
}

.divFooterStyle {
  color: var(--c4);
}

.project-card {
  background-color: var(--c2);
  color: var(--c4);
}

.card-date {
  color: var(--c4) !important;
}

.see-more-btn {
  color: var(--c5);
  border-color: var(--c4);
  background-color: var(--c2);
}

.see-more-btn:hover {
  color: var(--c1) !important;
  border-color: var(--c1) !important;
  background-color: var(--c2) !important;
}

.blog-main {
  background-color: var(--c2) !important;
}

.blog-text {
  color: var(--c1) !important;
}

.blog-card {
  background-color: var(--c2) !important;
  color: var(--c4);
}

.metaData {
  color: var(--c4) !important;
}

a {
  color: var(--c3);
}

.border-main {
  border-color: var(--c1) !important;
}

.border-main-2 {
  border-color: var(--c4) !important;
}

.rightCard {
  color: var(--c4);
  border-color: var(--c4) !important;
}

.link-text {
  color: var(--c4) !important;
}

.post-container {
  background-color: var(--c2) !important;
  color: var(--c4);
}

.about-me-main {
  border-top: solid 2px var(--c2);
  background-color: var(--c1) !important;
}

.aboutMeDivStyle {
  background-color: var(--c2) !important;
}

.imgStyle {
  border: solid 2px var(--c3);
}

.descriptionDivStyle {
  color: var(--c4);
}

.impressum-main {
  background-color: var(--c2);
}

.impressum {
  background-color: var(--c5);
  border-color: var(--c3);
  color: var(--c1);
}

.login-main {
  background-color: var(--c1);
  color: var(--c4);
}

.private-home-main {
  background-color: var(--c2) !important;
  color: var(--c4);
}

.project-main {
  background-color: var(--c2);
  color: var(--c4);
}

hr {
  background-color: var(--c4);
}

.githubLinkBtn {
  color: var(--c4) !important;
  border-color: var(--c4) !important;
}

.githubLinkBtn:hover {
  color: var(--c1) !important;
  border-color: var(--c1) !important;
  background-color: var(--c4) !important;
}

.github-stats {
  background-color: var(--c1);
  color: var(--c4);
}

.github-text {
  color: var(--c4) !important;
}

.settings-main {
  background-color: var(--c2);
  color: var(--c4);
}

.change-project {
  background-color: var(--c1);
}

.project-select {
  color: var(--c4) !important;
}

.project-select:enabled {
  background-color: var(--c2) !important;
  border: 0 !important;
}

.project-select option:active {
  background-color: red !important;
  color: red !important;
}

.project-select option {
  background-color: var(--c1);
}

.project-select option:not(:checked) {
  background-color: var(--c2);
}

.textbox-main {
  background-color: var(--c2);
  color: var(--c4);
  scrollbar-color: var(--c1) var(--c2);
}

.textbox-main::-webkit-scrollbar {
  width: 15px;
}

.textbox-main::-webkit-scrollbar-track {
  background: var(--c2);
}

.textbox-main::-webkit-scrollbar-thumb {
  background-color: var(--c1);
  border-radius: 10px;
  border: 5px solid var(--c2);
}

.textbox-main::-webkit-scrollbar-corner {
  background-color: var(--c2);
}

.text-input:enabled {
  background-color: var(--c2);
  color: var(--c4);
  border: 0;
}

.text-input::placeholder {
  color: var(--c4);
}

.text-input:-ms-input-placeholder {
  color: var(--c4);
}

.text-input::-ms-input-placeholder {
  color: var(--c4);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--c3);
  background-color: var(--c2);
}
.custom-checkbox .custom-control-input ~ .custom-control-label::before {
  border-color: var(--c2);
  background-color: var(--c5);
}

.fileUploadIcon {
  color: var(--c4);
}

.fileUploadIcon:hover {
  color: var(--c3);
}

.delete-image-btn {
  color: var(--c4);
}

.delete-image-btn:hover {
  color: var(--c3);
}

.modal-dialog {
  background-color: var(--c2);
}

.modal-content {
  background-color: var(--c2);
  color: var(--c4);
}

.modal-footer {
  border-top-color: var(---c4);
}

.see-more-btn-2 {
  color: var(--c5);
  border-color: var(--c4);
  background-color: var(--c3);
}

.see-more-btn-2:hover {
  color: var(--c1) !important;
  border-color: var(--c1) !important;
  background-color: var(--c3) !important;
}

.close-btn {
  color: var(--c4);
}

.close-btn:hover {
  color: var(--c3);
}

.change-profile {
  background-color: var(--c1);
}

.profile-link-main {
  border: solid 1px var(--c2);
  border-radius: 5px;
}

.color-picker-main {
  border: solid 1px var(--c4);
}

.check-icon-main {
  color: var(--c4);
}

html,
body {
  min-height: 100vh;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.descGitStyle {
  display: block !important;
}

.aboutMeDivStyle {
  display: block;
}

.imageDivStyle {
  width: 100%;
  text-align: center !important;
}

.btn-outline-dark {
  color: #212529;
  border-color: #212529;
}

.btn-outline-dark:hover {
  color: white;
  background: #212529;
}

.descriptionDivStyle {
  width: 100%;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.video-wrapper {
  margin-top: 5vh;
  height: 90vh;
}
.video-wrapper video {
  max-width: 90vw;
  max-height: 90vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.video-play-button {
  font-size: 50px;
  position: relative;
}

.video-play-icon {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.imgStyle {
  width: 270px;
  height: 270px;
  margin: 0;
}

.pswp-thumbnails {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-gap: 20px;
  align-items: stretch;
}

.pswp-thumbnail {
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  max-width: 100%;
}

.pswp-thumbnail img {
  width: 100%;
  height: auto;
}

.pswp-thumbnail video {
  width: 100%;
  height: auto;
}

/* .post-social .button .text {
  display: none;
} */

/* Blog Start */

.rightCard {
  display: block !important;
  width: 90% !important;
}

.blogPost {
  width: 100% !important;
  margin: 0 auto !important;
}

.metaData {
  width: 100% !important;
  font-size: 15px !important;
}

.cardTitle {
  width: 100% !important;
}

/* Blog End */

.divFooterStyle {
  display: block !important;
}

.projectTable {
  width: 100%;
  height: 20vh;
}

.changeProfileIcons {
  width: 60%;
}

.changeProfileLinkContent {
  width: 100%;
}

.innerColorDiv {
  position: relative;
  left: 0;
}

/* Media Querys */

@media (max-width: 324px) {
}

@media (max-width: 350px) and (min-width: 325px) {
}

@media (max-width: 370px) and (min-width: 351px) {
}

/* Small devices (landscape phones, 370px and up) */
@media (min-width: 370px) {
  .post-social .button .text {
    display: block;
  }
}

/* Small devices (landscape phones, 450px and up) */
@media (min-width: 450px) {
  .pswp-thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .imgStyle {
    width: 300px !important;
    height: 300px !important;
  }
}

/* Small devices (landscape phones, 500px and up) */
@media (min-width: 500px) {
  .favProjects {
    background-size: 100% auto !important;
  }

  .projectTable {
    height: 25vh;
  }
  .changeProfileLinkContent {
    width: 80%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .divFooterStyle {
    display: flex !important;
  }

  .favProjects h1 {
    font-size: 45px !important;
  }

  .impressum {
    width: 75% !important;
    font-size: 20px !important;
  }

  .projectsContainer {
    padding: 0 50px 0 50px !important;
  }

  .aboutMeDivStyle {
    display: grid !important;
  }

  .imageDivStyle {
    width: 100% !important;
    text-align: right !important;
  }

  .descriptionDivStyle {
    width: 100% !important;
  }

  .imgStyle {
    width: 200px !important;
    height: 200px !important;
  }
  .changeProfileLinkContent {
    width: 70%;
  }
}

@media (min-width: 580px) {
  .innerColorDiv {
    left: -190px;
  }
}

@media (min-width: 600px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .homeMiddleText h1 div {
    display: none !important;
  }

  .homeMiddleText h1 {
    font-size: 3rem !important;
  }

  .homeMiddleText h3 {
    font-size: 1.75rem !important;
  }

  .imgStyle {
    width: 250px !important;
    height: 250px !important;
  }

  .projectTable {
    height: 30vh;
  }
  .changeProfileLinkContent {
    width: 60%;
  }

  .innerColorDiv {
    left: 0;
  }
}

@media (min-width: 900px) {
  .imgStyle {
    width: 300px !important;
    height: 300px !important;
  }

  .projectTable {
    height: 35vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .favProjects-item1 {
    width: 40% !important;
  }

  .favProjects-item2 {
    width: 60% !important;
  }

  .favProjects-item3 {
    width: 100% !important;
  }

  .selectProject {
    width: 30% !important;
  }

  .input_both {
    width: 45% !important;
  }

  .top_text {
    font-size: 2.5em !important;
  }

  .header {
    font-size: 22px !important;
  }

  .favProjects h1 {
    font-size: 50px !important;
  }

  .homeHeader {
    background-size: 100% !important;
  }

  .gallery {
    margin: 0 auto !important;
    width: 90% !important;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)) !important;
    grid-gap: 20px !important;
    align-items: stretch !important;
  }

  .all-projects {
    background-attachment: fixed !important;
  }

  .containerDashboard {
    width: 95% !important;
  }

  .descGitStyle {
    display: grid !important;
  }

  .rightCard {
    display: inline-block !important;
    width: 15% !important;
  }

  .blogPost {
    width: 65% !important;
    margin: 10px 0 10px 10% !important;
  }

  .metaData {
    width: 30% !important;
    font-size: 16px !important;
  }

  .cardTitle {
    width: 70% !important;
  }
  .changeProfileLinkContent {
    width: 50%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .homeNameHeader {
    width: 180px !important;
  }

  .homeNameHeader h1 {
    font-size: 26px !important;
  }

  .homeBelowNames {
    font-size: 20px !important;
  }

  .containerDashboard {
    width: 93% !important;
  }

  .imgStyle {
    width: 350px !important;
    height: 350px !important;
  }

  .descriptionDivStyle {
    width: 90% !important;
  }

  .projectTable {
    height: 40vh;
  }
  .changeProfileLinkContent {
    width: 30%;
  }
}

@media (min-width: 1500px) {
  .header {
    font-size: 24px !important;
  }

  .imgStyle {
    width: 400px !important;
    height: 400px !important;
  }

  .descriptionDivStyle {
    width: 80% !important;
  }

  .projectTable {
    height: 45vh;
  }
  .changeProfileLinkContent {
    width: 20%;
  }
}

/* Extra extra large devices (extra large desktops, 1800px and up) */
@media (min-width: 1800px) {
  .header {
    font-size: 26px !important;
  }

  .homeNameHeader {
    width: 208px !important;
  }

  .homeNameHeader h1 {
    font-size: 30px !important;
  }

  .homeBelowNames {
    font-size: 22px !important;
  }

  .favProjects h1 {
    font-size: 55px !important;
  }

  .projectTable {
    height: 50vh;
  }
}
