html,
body {
  min-height: 100vh;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.descGitStyle {
  display: block !important;
}

.aboutMeDivStyle {
  display: block;
}

.imageDivStyle {
  width: 100%;
  text-align: center !important;
}

.btn-outline-dark {
  color: #212529;
  border-color: #212529;
}

.btn-outline-dark:hover {
  color: white;
  background: #212529;
}

.descriptionDivStyle {
  width: 100%;
}

.imgStyle {
  width: 270px;
  height: 270px;
  margin: 0;
}

.pswp-thumbnails {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-gap: 20px;
  align-items: stretch;
}

.pswp-thumbnail {
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  max-width: 100%;
}

.pswp-thumbnail img {
  width: 100%;
  height: auto;
}

/* .post-social .button .text {
  display: none;
} */

/* Blog Start */

.rightCard {
  display: block !important;
  width: 90% !important;
}

.blogPost {
  width: 100% !important;
  margin: 0 auto !important;
}

.metaData {
  width: 100% !important;
  font-size: 15px !important;
}

.cardTitle {
  width: 100% !important;
}

/* Blog End */

.divFooterStyle {
  display: block !important;
}

.fileUploadIcon {
  color: grey;
}

.fileUploadIcon:hover {
  color: #404040;
}

.projectTable {
  width: 100%;
  height: 20vh;
}

/* Media Querys */

@media (max-width: 324px) {
}

@media (max-width: 350px) and (min-width: 325px) {
}

@media (max-width: 370px) and (min-width: 351px) {
}

/* Small devices (landscape phones, 370px and up) */
@media (min-width: 370px) {
  .post-social .button .text {
    display: block;
  }
}

/* Small devices (landscape phones, 450px and up) */
@media (min-width: 450px) {
  .pswp-thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .imgStyle {
    width: 300px !important;
    height: 300px !important;
  }
}

/* Small devices (landscape phones, 500px and up) */
@media (min-width: 500px) {
  .favProjects {
    background-size: 100% auto !important;
  }

  .projectTable {
    height: 25vh;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .divFooterStyle {
    display: flex !important;
  }

  .favProjects h1 {
    font-size: 45px !important;
  }

  .impressum {
    width: 75% !important;
    font-size: 20px !important;
  }

  .projectsContainer {
    padding: 0 50px 0 50px !important;
  }

  .aboutMeDivStyle {
    display: grid !important;
  }

  .imageDivStyle {
    width: 100% !important;
    text-align: right !important;
  }

  .descriptionDivStyle {
    width: 100% !important;
  }

  .imgStyle {
    width: 200px !important;
    height: 200px !important;
  }
}

@media (min-width: 600px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .homeMiddleText h1 div {
    display: none !important;
  }

  .homeMiddleText h1 {
    font-size: 3rem !important;
  }

  .homeMiddleText h3 {
    font-size: 1.75rem !important;
  }

  .imgStyle {
    width: 250px !important;
    height: 250px !important;
  }

  .projectTable {
    height: 30vh;
  }
}

@media (min-width: 900px) {
  .imgStyle {
    width: 300px !important;
    height: 300px !important;
  }

  .projectTable {
    height: 35vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .favProjects-item1 {
    width: 40% !important;
  }

  .favProjects-item2 {
    width: 60% !important;
  }

  .favProjects-item3 {
    width: 100% !important;
  }

  .selectProject {
    width: 30% !important;
  }

  .input_both {
    width: 45% !important;
  }

  .top_text {
    font-size: 2.5em !important;
  }

  .header {
    font-size: 22px !important;
  }

  .favProjects h1 {
    font-size: 50px !important;
  }

  .homeHeader {
    background-size: 100% !important;
  }

  .gallery {
    margin: 0 auto !important;
    width: 90% !important;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)) !important;
    grid-gap: 20px !important;
    align-items: stretch !important;
  }

  .all-projects {
    background-attachment: fixed !important;
  }

  .containerDashboard {
    width: 95% !important;
  }

  .descGitStyle {
    display: grid !important;
  }

  .rightCard {
    display: inline-block !important;
    width: 15% !important;
  }

  .blogPost {
    width: 65% !important;
    margin: 10px 0 10px 10% !important;
  }

  .metaData {
    width: 30% !important;
    font-size: 16px !important;
  }

  .cardTitle {
    width: 70% !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .homeNameHeader {
    width: 180px !important;
  }

  .homeNameHeader h1 {
    font-size: 26px !important;
  }

  .homeBelowNames {
    font-size: 20px !important;
  }

  .containerDashboard {
    width: 93% !important;
  }

  .imgStyle {
    width: 350px !important;
    height: 350px !important;
  }

  .descriptionDivStyle {
    width: 90% !important;
  }

  .projectTable {
    height: 40vh;
  }
}

@media (min-width: 1500px) {
  .header {
    font-size: 24px !important;
  }

  .imgStyle {
    width: 400px !important;
    height: 400px !important;
  }

  .descriptionDivStyle {
    width: 80% !important;
  }

  .projectTable {
    height: 45vh;
  }
}

/* Extra extra large devices (extra large desktops, 1800px and up) */
@media (min-width: 1800px) {
  .header {
    font-size: 26px !important;
  }

  .homeNameHeader {
    width: 208px !important;
  }

  .homeNameHeader h1 {
    font-size: 30px !important;
  }

  .homeBelowNames {
    font-size: 22px !important;
  }

  .favProjects h1 {
    font-size: 55px !important;
  }

  .projectTable {
    height: 50vh;
  }
}
