RewriteEngine On

RewriteRule ^services/homepage/(.*) http://127.0.0.1:5006/$1 [P]

RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]