<div class="login-page">
	<table style="width: 100%; height: 100%;">
		<tr>
			<td>
				<div class="loginmodal-container login-container">
					<h3>Login</h3>
					<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
						<span style="text-align: left;">
							<div class="form-group">					
								<div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
								<label for="username">Username</label>
								<input type="text" name="username" ngModel class="form-control" placeholder="Username" required autofocus>
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Password</label>
								<input type="password" name="password" ngModel class="form-control" placeholder="Password" required>
							</div>
						</span>
						<button type="submit" class="btn btn-primary" style="width: 120px; font-size: 20px;">Sign in</button>
					</form>
				</div>
			</td>
		</tr>
	</table>	
</div>