blockquote {
  font-style: italic;
  font-size: 1.1em;
  line-height: 1.5em;
  padding-left: 1em;
  margin: 1rem 0;
  border-left: 4px solid rgba(170, 170, 170, 0.5);
}

.Draftail-ToolbarButton__label {
  vertical-align: top !important;
}
