<div>
    <div class="row">
        <div class="col-md-8 home-zeusentertainment">
            <div class="container" >
                <h1 class="display-4">ZeusEntertainment</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                <button type="button" class="btn btn-outline-primary">See more</button>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 home-unity_room">
            <div class="container" >
                <h1 class="display-4">Unity</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col home-phase7">
            <div class="container" >
                <h1 class="display-4">Phase7</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>                
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 home-interships">
            <div class="container" >
                <h1 class="display-4">Interships</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>  
        <div class="col-md-4 col-sm-12" style="background-color: pruple;">
            <div class="container" >
                <h1 class="display-4">Website</h1>
                <p class="lead">Here I am  going to explain how I built this website.</p>
            </div>
        </div>               
    </div>
    <!-- <div class="row">
        <div class="col-md-4 col-sm-12" style="background-color: yellow;">
            <div class="container" >
                <h1 class="display-4">Project 6</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>  
        <div class="col-md-8 col-sm-12" style="background-color: cyan;">
            <div class="container" >
                <h1 class="display-4">Project 7</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>               
    </div> -->
</div>