<div>
    <div class="row">
        <div class="col-md-8 home-zeusentertainment">
            <div class="container home-zeusentertainment-container" >
                <h1 class="display-4">ZeusEntertainment</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <button style="background-color: rgba(0, 0, 0, 0.200);" type="button" class="btn btn-outline-primary seemore_btn-home" [routerLink]="['../projects/zeusentertainment']">See more</button>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 home-unity_room">
            <div class="container home-unity_room-container" >
                <h1 class="display-4">Unity</h1>
                <p class="lead">This is my first attempt of working with Unity.<br>It's my room as a 3D-Modell, with a few extras (No, I don't own Genji's sword).<br><i>Currently the Source Code is not available on my GitHub, but I am going to upload it soon.</i></p>
                <button style="background-color: rgba(0, 0, 0, 0.568);" type="button" class="btn btn-outline-primary seemore_btn-home" [routerLink]="['../projects/unity']">See more</button>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col home-phase7" [routerLink]="['phase7']">
            <div class="container home-phase7-container" >
                <h1 class="display-4">Phase7</h1>
                <p class="lead">Phase7 is my reproduction of the learn-software Phase6. I did it just for fun and as a personal project.<br><i>Currently the Source Code is not available on my GitHub, maybe it will be soon.</i></p>
                <button style="background-color: rgba(0, 0, 0, 0.200);" type="button" class="btn btn-outline-primary seemore_btn-home" [routerLink]="['../projects/phase7']">See more</button>
            </div>
        </div>                
    </div>       
</div>