<div>
    <div class="row">
        <div class="col-md-8 home-zeusentertainment" [routerLink]="['zeusentertainment']">
            <div class="container home-zeusentertainment-container" >
                <h1 class="display-4">ZeusEntertainment</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                <button type="button" class="btn btn-outline-primary">See more</button>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 home-unity_room" [routerLink]="['unity']">
            <div class="container home-unity_room-container" >
                <h1 class="display-4">Unity</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                <button type="button" class="btn btn-outline-primary">See more</button>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col home-phase7" [routerLink]="['phase7']">
            <div class="container home-phase7-container" >
                <h1 class="display-4">Phase7</h1>
                <p class="lead">Phase7 is my reproduction of the learn-software Phase6. I did it just for fun and as a personal project.</p>
                <button type="button" class="btn btn-outline-primary">See more</button>
            </div>
        </div>                
    </div>       
</div>