<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #242424;">    
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 toolbar-ul" style="display: block !important;">
        <li class="nav-item toolbar-li" style="display: inline-block !important;">
            <a class="nav-link" [routerLink]="['/private/allProjects']">All Projects<span class="sr-only">(current)</span></a>
        </li>        
        <li class="nav-item toolbar-li" style="display: inline-block !important;">
            <a class="nav-link" [routerLink]="['/private/settings']">Settings<span class="sr-only">(current)</span></a>
        </li>        
    </ul>          
</nav>