<div class="top-home-header">
    <div class="profile_name_div">        
        <table style="width: 100%; height: 60%;">
            <tbody>
                <tr>
                    <td>
                        <h1 class="align-middle"><span style="color: #76D5D1;">Thomas</span> Miller</h1> 
                        <h2 class="header-home-bottom">Software_Developer()<span class="for-animated-cursor"></span></h2>
                    </td>                    
                </tr>
            </tbody>
        </table>                              
    </div>
</div>