{
  "presets": ["babel-preset-react"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "clike",
          "c",
          "csharp",
          "cpp",
          "python"
        ],
        "plugins": ["remove-initial-line-feed", "autoloader"],
        "theme": "default",
        "css": true
      }
    ]
  ]
}
