<div class="top-home-header">
    <div class="profile_name_div-home">                
        <h1><span style="color: #76D5D1;">Thomas</span> Miller</h1> 
        <h2 class="header-home-bottom">Software Developer()<span class="for-animated-cursor"></span></h2>                                        
    </div>
    <div class="top-home-header_middle_text">
        <table style="width: 100%; height: 80%;">
            <tr>
                <td>
                    <h1>Hi, I am a <div> </div>Software Developer</h1>
                    <h3>Python, Java, C#, TypeScript, JavaScript</h3>
                </td>
            </tr>
        </table>        
    </div>
</div>