/* Social Media Share Start */
$brand-colors: (
  email: rgb(77, 77, 77),
  stackoverflow: #f48024,
  discord: #26262b,
  thingiverse: #248bfb,
  twitter: #1da1f2,
  docker: #0997e5,
  github: #24292e
);

.post-social {
  width: 100%;
  margin: 0 auto;
  .button {
    cursor: pointer;
    margin: 0.5rem 0.25rem;
    background-color: transparent;
    justify-content: center;
    padding: calc(0.375em - 1px) 0.75em;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    border: 1px solid transparent;
    display: inline-flex;
    font-size: 1em;
    height: 2.25em;
    line-height: 1.5;
    vertical-align: top;
    @each $class, $color in $brand-colors {
      &.#{$class} {
        color: $color;
        border-color: $color;
        &:hover {
          background-color: $color;
          border-color: $color;
          color: #fff;
        }
      }
    }

    .icon {
      height: 1.5em;
      width: 1.5em;
    }
    .text {
      margin-left: 6px;
    }
  }
  .is-rounded {
    border-radius: 100px;
    padding-left: 1em;
    padding: 1em;
  }
}

/* Social Media Share End */

.githubLinkBtn {
  margin: 20px;
  color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 0.3em;
  font-family: avenir, helvetica, arial, sans-serif;
  letter-spacing: 0.05em;
  padding: 5px 11px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-color: #fff;
}
