<div class="privateSettings">
    <center><h1 class="top_text">Settings - Change Project</h1></center>    
    <button type="button" class="btn btn-outline-primary back_settings" [routerLink]="['/private/settings']">Back</button>    
    <div class="privateChangeProjectContent">        
        <form #updateProjectForm="ngForm" (ngSubmit)="changeProject(updateProjectForm)">              
            <center>                                            
                <div class="form-group selectProject" style="margin: 0 0 20px 2.5%; text-align: left;">                
                    <select class="form-control" name="select_project" (ngModelChange)="selectorChanged($event)" [(ngModel)]="selectedObj">
                        <option [ngValue]="clearProject">[Clear]</option>
                        <option *ngFor="let project of allProjects" [ngValue]="project">{{project._name}}</option>                    
                    </select>
                </div>
                <div class="border_bottom"></div>
                <div class="input-group input_code input_both">
                    <h1>Code</h1>
                    <h2>Name</h2>
                    <input type="text" class="form-control" ngModel name="_name" placeholder="Name" id="code_name" value="{{currentProject._name}}" required>
                    <h2>GitHub Repo</h2>
                    <input type="text" class="form-control" ngModel name="_githubRepo" placeholder="GitHub Repo" id="code_githubrepo" value="{{currentProject._githubRepo}}" required>
                    <h2>Description</h2>
                    <textarea (keyup)="tbChanged($event.target)" [value]="currentProject._description" class="form-control text_description" ngModel name="_description" placeholder="Description" id="code_description" value="{{currentProject._description}}" required></textarea>
                    <h2>Description Big</h2>
                    <textarea (keyup)="tbChanged($event.target)" [value]="currentProject._description_big" class="form-control text_description_big" ngModel name="_description_big" placeholder="Description Big" id="code_description_big" value="{{currentProject._description_big}}" required></textarea>
                    <h2>Thumbnail</h2>
                    <input type="text" class="form-control" ngModel name="_thumbnail" placeholder="Thumbnail" id="code_thumbnail" value="{{currentProject._thumbnail}}" required>
                    <h2>Header Img</h2>
                    <input type="text" class="form-control" ngModel name="_headerImg" placeholder="Header Img" id="code_headerimg" value="{{currentProject._headerImg}}" required>
                    <h2>Images</h2>
                    <textarea class="form-control text_images" ngModel name="_images" placeholder="Images" id="code_images" value="{{currentProject._images}}" required></textarea> 
                    <!-- <h2>Upload Image</h2>                               
                    <input type="file" id="code_uploadimage">        -->
                    <div class="checkbox custom-control custom-checkbox">
                        <input class="custom-control-input custom_checkbox" type="checkbox" name="_favourite" ngModel value="false" id="code_favourite" [checked]="currentProject._favourite" required>
                        <label class="custom-control-label custom_checkbox" for="code_favourite">Favourite</label>                                    
                    </div>                
                    <div class="checkbox custom-control custom-checkbox">
                        <input class="custom-control-input custom_checkbox" type="checkbox" ngModel name="_private" id="checkbox_public" value="false" id="code_private" [checked]="currentProject._private" required>
                        <label class="custom-control-label custom_checkbox" for="code_private">Private</label>                             
                    </div>                                                  
                </div>
                <div class="input-group input_render input_both" *ngIf="!getMobile() || isPreview">           
                    <div class="border_bottom" *ngIf="isPreview"></div>
                    <h1>Preview</h1>
                    <div class="visibility_hidden" *ngIf="!isPreview">
                        <h2>-</h2>
                        <input type="text" class="form-control">
                        <h2>-</h2>
                        <input type="text" class="form-control">
                    </div>                    
                    <h2>Description</h2>
                    <div class="rendered_textbox text_description" [innerHTML]="currentProject._description" ></div>
                    <h2>Description Big</h2>
                    <div class="rendered_textbox text_description_big" [innerHTML]="currentProject._description_big"></div>                                       
                </div>            
            </center>        
            <div class="border_bottom"></div>
            <div class="alert alert-danger" *ngIf="showError" role="alert">
                Error while updating project!
            </div>
            <div class="alert alert-success" *ngIf="showUpdate" role="alert">
                Successfully updated project!
            </div>
            <button type="submit" class="btn btn-outline-primary settings_changeProject">Update</button>            
            <button type="button" class="btn btn-outline-primary settings_changeProject" data-toggle="modal" data-target="#deleteyousure">Delete</button>
            <button type="button" class="btn btn-outline-primary settings_changeProject" *ngIf="getMobile()" (click)="changePreviewState()">Preview</button>
            
        </form>
    </div>
</div>
  
<!-- Modal -->
<div class="modal fade" id="deleteyousure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to delete it?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="deleteProject(currentProject._id)" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>